{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>

{% if message %}	
    <div id="errorMessage"><p>{{ message }}</p></div>
{% endif %}

<form action="{% url users_login %}" method="post" id="login">
    {% include 'inc/form_iterator.html' %}
	<input type="submit" value="Login" class="submit" />
	{% csrf_token %}
</form>

<p><a href="{% url users_register %}">If you do not have an account please click here to register</a></p>
<p><a href="{% url users_recover %}">Forgot your password?</a></p>
{% endblock %}