{% extends 'base.html' %}
{% block title %}Setting new password{% endblock %}

{% block content %}
<h1>Change Password</h1>

{% if message %}
	<div id="successMessage"><p>{{ message }}</p></div>
{% endif %}

<form action="{% url user_newpassword %}" method="post" id="login">
	{% for field in password_form %}
	<div class="form-row">
		<label for="id_{{ field.html_name }}">{{ field.label }}</label>  
	  	{{ field }}  
	  	{{ field.errors }}
	</div>
	{% endfor %}

	<input type="submit" value="Change Password" class="submit" />
</form>

{% endblock %}